body {
  background-color: #15191f;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100vw;

  font-family: 'Montserrat';
}

.bg__gradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #eb3434,
    #eb5e34,
    #eb8334,
    #eba434,
    #ebcc34,
    #ebeb34,
    #c3eb34,
    #89eb34,
    #58eb34,
    #34eb52,
    #34ebcc,
    #34d5eb,
    #34a8eb,
    #346beb,
    #3734eb,
    #7734eb,
    #a834eb,
    #eb34c3,
    #eb3489,
    #eb3461
  );
  filter: blur(500px);
  border-radius: 100%;
  background-size: 1000% 100%;

  animation: gradient 10s infinite ease-out;

  position: absolute;
  transform: translateX(-50%) translateY(-50%);

  z-index: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.mainCard {
  transition: all ease;
  cursor: pointer;
  z-index: 5;
  transition: transform 300ms, opacity 300ms;
  display: flex;
  max-width: 100%;
}

.card-active {
  transform: scale(1.1);
  transition: transform 300ms;
  margin-left: 0;
}

.card:not(.card-active) {
  transform: scale(0.8);
}

.card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; /* Adjust the margin-top value as needed */
  height: calc(100vh - 120px); /* Ensure the container has a fixed height */
}

.card-info-grid {
  display: flex;
  justify-content: center;
  max-width: 350px;
}
.card-info {
  z-index: 10;
}

.img-container {
  max-width: 100%;
}

.card-img {
  max-width: 100%;
}

.search-bar-container {
  position: absolute; /* Position the search bar container absolutely */
  bottom: 10%; /* Adjust the distance from the bottom as needed */
  left: 50%; /* Position the search bar container horizontally at the center */
  transform: translateX(
    -50%
  ); /* Adjust to horizontally center the search bar container */
  z-index: 10; /* Ensure the search bar container is above the card container */
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
